/*Trevor's website!*/

/*CSS Organized by order in HTML elements, then classes, then IDs*/

#name-area {
	padding: 350px 15% 200px;
	font-size: 72px;
	color: white;
	background-image: url(pics/jumbotron.jpg);
	background-size: cover;
	background-attachment: fixed;
    background-repeat: no-repeat;
}

#name-area p {
	text-align: center;
}

#top-chevron {
	font-size: 100%;
	color: white;
	margin: 40px auto 350px;
	left: 50%;
}

#top-chevron:hover {
	color: #434242;
}

#experience img {
	max-height: 60px;
}

#education .card, #experience .card {
	margin: auto auto 40px;
	border-radius: 10px;
}

#education a, #experience a {
	font-size: 18px;
	color: black;
}

#education a:hover, #experience a:hover {
	text-decoration: underline;
}

#projects .card img {
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
#projects .card:hover img {
    -webkit-transform: scale(1.075);
    transform: scale(1.075);
}

/*individual parallax scrolls.  Name of ID is the name of picture*/
#tennisCourts { background-image: url("pics/tennis_courts.jpg"); }
#sublimeCode { background-image: url("pics/sublime_code.jpg"); }
#candy { background-image: url("pics/candy.jpg"); }
#zion { background-image: url("pics/zion.jpg"); }

.removedesktop {
	display: none;
}

.nav-item::after{
	content:'';
	display:block;
	width:0px;
	left: 10px;
	bottom: 10px;
	height:2px;
	background: #47d5ff;
	transition: 0.3s;
}

.nav-item:hover::after{
	width:100%;
}

.nav-link{
	transition:0.3s;
}

.nav-pills .active {
	color: white !important;
	background-color: rgba(0, 0, 0, 0.0) !important;
}

.text-box {
	border-radius: 25px;
	border: 2px solid #0099ff;
	padding: 40px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 14px 0 rgba(0, 0, 0, 0.19);
}

.progress {
	background: rgba(245, 245, 245, 1);
	border: 0px solid rgba(245, 245, 245, 1);
	border-radius: 3px; 
	height: 30px;
	margin-bottom: 15px;
}

.progress span {
	float: right;
}

.progress-bar {
	background: #0099ff;
}

.tag-bar {
	background: #255e84;
	vertical-align: middle;
	padding-top: 5px;
	font-weight: bold;
}

.dividerimg {
    /* Set a specific height */
    min-height: 200px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-separator {
	display: block;
	width: 350px;
	height: 3px;
	background: #0099ff;
	margin: auto auto 40px;
	float: none;
}

.text-section {
	padding: 150px 25%; 
	color: #434242; 
	font-size: 18px;
	line-height: 1.7em;
}

.text-section p {
	text-align: left;
}

.text-section .col p {
	text-align: center;
}

.text-section h1 {
	padding-bottom: 15px;
}

.card {
	overflow: hidden;
}

.tech-tags {
	list-style: none;
}

.tech-tags li {
	background-color: #1d7ab7;
	color: white;
	font-size: 80%;
	display: inline-block;
	padding: 0px 8px;
	margin: 10px 3px 3px;
	border-radius: 10px;
	-webkit-transition: .5s ease-in-out;
	transition: .25s ease-in-out;
	backface-visibility: hidden;
}

.tech-tags li:hover {
    -webkit-transform: scale(1.05);
	transform: scale(1.05);
}

body {
	position: relative;
	text-align: center;
	overflow-x: hidden;
	font-family: 'Raleway', sans-serif;
	line-height: 25px;
}

h1, h2, h3 {
	font-family: 'Open Sans', sans-serif;
}

footer {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #434242;
	color: white;
	height: auto;
}

@media only screen and (max-width: 767px) {

	.dividerimg {
		background-color: #434242;
		min-height: 50px;
		background-image: none;
	}

	/* Deleted top image since the text gets removed for
	mobile too so there isn't a random carbon bar */

	.removemobile {
		display:none;
	}

	.text-section {
		padding: 50px;
	}

	.glyphicon-triangle-bottom {
		font-size: 8pt;
	}

}